body {
  background: linear-gradient(black, white);
  background-repeat: no-repeat;
  margin: 100px
}

a {
    text-decoration: none;
    color: white;
}
img {
  min-width: 450px;
  max-width: 450px;
}

p {
  color: white;
  text-align: center;
  transform: rotate(11deg);
}

h3 {
  color: white;
  text-align: center;
  transform: rotate(5deg);

}

.font-face {
  font-family: "sefarad";
  src: url ("sefarad.ttf"),
  url (sefarad.otf),
  url (sefarad.woff),
  url (sefarad.woff2);
}
.text {
  transform: rotate(-11deg);
  text-align:center;

}

.image {
   transform: rotate(-5deg);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}

