body {
  background: linear-gradient(black, white);
  position: absolute;
  top: 50px; 
}

html {
    height: 100%;
}
a {
    text-decoration: none;
    color: white;
}
img {
  min-width: 400px;
  max-width: 400px;
  height: auto;
  margin: 100px;
  position: relative; 
  right: 10%;
  border: 3px solid black;

}

p {
  color: white;
  text-align: center;

}

h3 {
  color: white;
  text-align: center;

}

#top {
  padding: 0px;
  width: auto;
  margin: auto;
  top: 100px;
}
.center {
  text-align: center;
  transform: rotate(7deg);

}
.font-face {
  font-family: "sefarad";
  src: url ("sefarad.ttf");
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  top: 50%;
}

.left {
  position: relative;
  top: 50%; 
}

.round {
  border-radius: 200px;
  border: 15px solid rgb(66, 204, 66);
}
.excerpt {
  font-size: 15px;
  text-align: left;
  max-width: 40%;
}